@media screen and (max-width: 500px) and (min-width: 200px)
{
    #rowTop 
    {
        margin-top: 7rem;
    }
    
    #user-icon 
    {
        font-size: 70px;
        color: #1B7DDF;
        margin-top: 1rem;
    }
    
    #edit-icon 
    {
        font-size: 19px;
        color: #1B7DDF;
    }
    
    #delete-icon 
    {
        font-size: 19px;
        color: #F43E3E;
    }
    
    #Email, #Password 
    {
        text-align: center;
    }
    
    #btnLogin 
    {
        font-size: 19px;
        font-weight: bold;
        background-color: #1B7DDF;
        color: #ffffff;
    
        transition: ease-out 0.3s;
        border-radius: 20px;
    }
    
    #btnLogin:hover 
    {
        background-color: #F43E3E;
    }
    
    #logout-icon 
    {
        font-size: 18px;
        color: #ffffff;
    }
    
    #btnLogout 
    {
        color: #ffffff;
        font-size: 19px;
        border: none;
    }
    
    #rowHome 
    {
        margin-top: 3rem;
    }
    
    #btnAdd, #btnSave 
    {
        font-size: 19px;
    }

    #tHead
    {
        font-size: 18px;
    }

    #cardLogin
    {
        border-color: #1B7DDF;
        border-radius: 5px;
    }
    
    .alert 
    {
        position: relative;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }
    
    .alert-heading 
    {
        color: inherit;
    }
    
    .alert-link 
    {
        font-weight: 700;
    }
    
    .alert-dismissible 
    {
        padding-right: 5rem;
    }
    
    .alert-dismissible .close 
    {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem .75rem;
        color: #002752;
    }
    
    .alert-primary 
    {
        color: #004085;
        background-color: #cce5ff;
        border-color: #b8daff;
    }
    
    .alert-primary hr 
    {
        border-top-color: #9fcdff;
    }
    
    .alert-primary .alert-link 
    {
        color: #002752;
    }
    
    .alert-secondary 
    {
        color: #383d41;
        background-color: #e2e3e5;
        border-color: #d6d8db;
    }
    
    .alert-secondary hr 
    {
        border-top-color: #c8cbcf;
    }
    
    .alert-secondary .alert-link 
    {
        color: #202326;
    }
    
    .alert-success 
    {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }
    
    .alert-success hr 
    {
        border-top-color: #b1dfbb;
    }
    
    .alert-success .alert-link 
    {
        color: #0b2e13;
    }
    
    .alert-info 
    {
        color: #0c5460;
        background-color: #d1ecf1;
        border-color: #bee5eb;
    }
    
    .alert-info hr 
    {
        border-top-color: #abdde5;
    }
    
    .alert-info .alert-link 
    {
        color: #062c33;
    }
    
    .alert-warning 
    {
        color: #856404;
        background-color: #fff3cd;
        border-color: #ffeeba;
    }
    
    .alert-warning hr 
    {
        border-top-color: #ffe8a1;
    }
    
    .alert-warning .alert-link 
    {
        color: #533f03;
    }
    
    .alert-danger 
    {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
    
    .alert-danger hr 
    {
        border-top-color: #f1b0b7;
    }
    
    .alert-danger .alert-link 
    {
        color: #491217;
    }
    
    .alert-light 
    {
        color: #818182;
        background-color: #fefefe;
        border-color: #fdfdfe;
    }
    
    .alert-light hr 
    {
        border-top-color: #ececf6;
    }
    
    .alert-light .alert-link 
    {
        color: #686868;
    }
    
    .alert-dark 
    {
        color: #1b1e21;
        background-color: #d6d8d9;
        border-color: #c6c8ca;
    }
    
    .alert-dark hr 
    {
        border-top-color: #b9bbbe;
    }
    
    .alert-dark .alert-link 
    {
        color: #040505;
    }
    
    @-webkit-keyframes progress-bar-stripes 
    {
        from 
        {
            background-position: 1rem 0;
        }
    
        to 
        {
            background-position: 0 0;
        }
    }
    
    @keyframes progress-bar-stripes 
    {
        from 
        {
            background-position: 1rem 0;
        }
    
        to 
        {
            background-position: 0 0;
        }
    }
    @-webkit-keyframes shake 
    {
        from 
        {
            -webkit-transform: rotate(15deg);
        }

        to 
        {
            -webkit-transform: rotate(-15deg);
            -webkit-transform-origin: center center;
        }
    }

    #delete-icon:hover,
    #edit-icon:hover
    {
        -webkit-animation: shake 0.1s ease-in-out 0.1s infinite alternate;
    }
}

@media screen and (max-width: 700px) and (min-width: 501px)
{
    #rowTop 
    {
        margin-top: 6rem;
    }
    
    #user-icon 
    {
        font-size: 70px;
        color: #1B7DDF;
        margin-top: 1rem;
    }
    
    #edit-icon 
    {
        font-size: 19px;
        color: #1B7DDF;
    }
    
    #delete-icon 
    {
        font-size: 19px;
        color: #F43E3E;
    }
    
    #Email, #Password 
    {
        text-align: center;
    }
    
    #btnLogin 
    {
        font-size: 19px;
        font-weight: bold;
        background-color: #1B7DDF;
        color: #ffffff;
    
        transition: ease-out 0.3s;
        border-radius: 20px;
    }
    
    #btnLogin:hover 
    {
        background-color: #F43E3E;
    }
    
    #logout-icon 
    {
        font-size: 18px;
        color: #ffffff;
    }
    
    #btnLogout 
    {
        color: #ffffff;
        font-size: 19px;
        border: none;
    }
    
    #rowHome 
    {
        margin-top: 3rem;
    }
    
    #btnAdd, #btnSave 
    {
        font-size: 19px;
    }

    #tHead
    {
        font-size: 18px;
    }

    #cardLogin
    {
        border-color: #1B7DDF;
        border-radius: 5px;
    }
    
    .alert 
    {
        position: relative;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }
    
    .alert-heading 
    {
        color: inherit;
    }
    
    .alert-link 
    {
        font-weight: 700;
    }
    
    .alert-dismissible 
    {
        padding-right: 5rem;
    }
    
    .alert-dismissible .close 
    {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem .75rem;
        color: #002752;
    }
    
    .alert-primary 
    {
        color: #004085;
        background-color: #cce5ff;
        border-color: #b8daff;
    }
    
    .alert-primary hr 
    {
        border-top-color: #9fcdff;
    }
    
    .alert-primary .alert-link 
    {
        color: #002752;
    }
    
    .alert-secondary 
    {
        color: #383d41;
        background-color: #e2e3e5;
        border-color: #d6d8db;
    }
    
    .alert-secondary hr 
    {
        border-top-color: #c8cbcf;
    }
    
    .alert-secondary .alert-link 
    {
        color: #202326;
    }
    
    .alert-success 
    {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }
    
    .alert-success hr 
    {
        border-top-color: #b1dfbb;
    }
    
    .alert-success .alert-link 
    {
        color: #0b2e13;
    }
    
    .alert-info 
    {
        color: #0c5460;
        background-color: #d1ecf1;
        border-color: #bee5eb;
    }
    
    .alert-info hr 
    {
        border-top-color: #abdde5;
    }
    
    .alert-info .alert-link 
    {
        color: #062c33;
    }
    
    .alert-warning 
    {
        color: #856404;
        background-color: #fff3cd;
        border-color: #ffeeba;
    }
    
    .alert-warning hr 
    {
        border-top-color: #ffe8a1;
    }
    
    .alert-warning .alert-link 
    {
        color: #533f03;
    }
    
    .alert-danger 
    {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
    
    .alert-danger hr 
    {
        border-top-color: #f1b0b7;
    }
    
    .alert-danger .alert-link 
    {
        color: #491217;
    }
    
    .alert-light 
    {
        color: #818182;
        background-color: #fefefe;
        border-color: #fdfdfe;
    }
    
    .alert-light hr 
    {
        border-top-color: #ececf6;
    }
    
    .alert-light .alert-link 
    {
        color: #686868;
    }
    
    .alert-dark 
    {
        color: #1b1e21;
        background-color: #d6d8d9;
        border-color: #c6c8ca;
    }
    
    .alert-dark hr 
    {
        border-top-color: #b9bbbe;
    }
    
    .alert-dark .alert-link 
    {
        color: #040505;
    }
    
    @-webkit-keyframes progress-bar-stripes 
    {
        from 
        {
            background-position: 1rem 0;
        }
    
        to 
        {
            background-position: 0 0;
        }
    }
    
    @keyframes progress-bar-stripes 
    {
        from 
        {
            background-position: 1rem 0;
        }
    
        to 
        {
            background-position: 0 0;
        }
    }

    @-webkit-keyframes shake 
    {
        from 
        {
            -webkit-transform: rotate(15deg);
        }

        to 
        {
            -webkit-transform: rotate(-15deg);
            -webkit-transform-origin: center center;
        }
    }

    #delete-icon:hover,
    #edit-icon:hover
    {
        -webkit-animation: shake 0.1s ease-in-out 0.1s infinite alternate;
    }
}

@media screen and (max-width: 990px) and (min-width: 701px)
{
    #rowTop 
    {
        margin-top: 5rem;
    }
    
    #user-icon 
    {
        font-size: 90px;
        color: #1B7DDF;
        margin-top: 1rem;
    }
    
    #edit-icon 
    {
        font-size: 19px;
        color: #1B7DDF;
    }
    
    #delete-icon 
    {
        font-size: 19px;
        color: #F43E3E;
    }
    
    #Email, #Password 
    {
        text-align: center;
    }
    
    #btnLogin 
    {
        font-size: 14px;
        font-weight: bold;
        background-color: #1B7DDF;
        color: #ffffff;
    
        transition: ease-out 0.3s;
        border-radius: 15px;
    }
    
    #btnLogin:hover 
    {
        background-color: #F43E3E;
    }
    
    #logout-icon 
    {
        font-size: 18px;
        color: #ffffff;
    }
    
    #btnLogout 
    {
        color: #ffffff;
        font-size: 19px;
        border: none;
    }
    
    #rowHome 
    {
        margin-top: 3rem;
    }
    
    #btnAdd, #btnSave 
    {
        font-size: 19px;
    }

    #tHead
    {
        font-size: 18px;
    }

    #cardLogin
    {
        border-color: #1B7DDF;
        border-radius: 5px;
    }
    
    .alert 
    {
        position: relative;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }
    
    .alert-heading 
    {
        color: inherit;
    }
    
    .alert-link 
    {
        font-weight: 700;
    }
    
    .alert-dismissible 
    {
        padding-right: 5rem;
    }
    
    .alert-dismissible .close 
    {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem .75rem;
        color: #002752;
    }
    
    .alert-primary 
    {
        color: #004085;
        background-color: #cce5ff;
        border-color: #b8daff;
    }
    
    .alert-primary hr 
    {
        border-top-color: #9fcdff;
    }
    
    .alert-primary .alert-link 
    {
        color: #002752;
    }
    
    .alert-secondary 
    {
        color: #383d41;
        background-color: #e2e3e5;
        border-color: #d6d8db;
    }
    
    .alert-secondary hr 
    {
        border-top-color: #c8cbcf;
    }
    
    .alert-secondary .alert-link 
    {
        color: #202326;
    }
    
    .alert-success 
    {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }
    
    .alert-success hr 
    {
        border-top-color: #b1dfbb;
    }
    
    .alert-success .alert-link 
    {
        color: #0b2e13;
    }
    
    .alert-info 
    {
        color: #0c5460;
        background-color: #d1ecf1;
        border-color: #bee5eb;
    }
    
    .alert-info hr 
    {
        border-top-color: #abdde5;
    }
    
    .alert-info .alert-link 
    {
        color: #062c33;
    }
    
    .alert-warning 
    {
        color: #856404;
        background-color: #fff3cd;
        border-color: #ffeeba;
    }
    
    .alert-warning hr 
    {
        border-top-color: #ffe8a1;
    }
    
    .alert-warning .alert-link 
    {
        color: #533f03;
    }
    
    .alert-danger 
    {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
    
    .alert-danger hr 
    {
        border-top-color: #f1b0b7;
    }
    
    .alert-danger .alert-link 
    {
        color: #491217;
    }
    
    .alert-light 
    {
        color: #818182;
        background-color: #fefefe;
        border-color: #fdfdfe;
    }
    
    .alert-light hr 
    {
        border-top-color: #ececf6;
    }
    
    .alert-light .alert-link 
    {
        color: #686868;
    }
    
    .alert-dark 
    {
        color: #1b1e21;
        background-color: #d6d8d9;
        border-color: #c6c8ca;
    }
    
    .alert-dark hr 
    {
        border-top-color: #b9bbbe;
    }
    
    .alert-dark .alert-link 
    {
        color: #040505;
    }
    
    @-webkit-keyframes progress-bar-stripes 
    {
        from 
        {
            background-position: 1rem 0;
        }
    
        to 
        {
            background-position: 0 0;
        }
    }
    
    @keyframes progress-bar-stripes 
    {
        from 
        {
            background-position: 1rem 0;
        }
    
        to 
        {
            background-position: 0 0;
        }
    }

    @-webkit-keyframes shake 
    {
        from 
        {
            -webkit-transform: rotate(15deg);
        }

        to 
        {
            -webkit-transform: rotate(-15deg);
            -webkit-transform-origin: center center;
        }
    }

    #delete-icon:hover,
    #edit-icon:hover
    {
        -webkit-animation: shake 0.1s ease-in-out 0.1s infinite alternate;
    }
}

@media screen and (max-width: 1200px) and (min-width: 991px)
{
    #rowTop 
    {
        margin-top: 8rem;
    }
    
    #user-icon 
    {
        font-size: 70px;
        color: #1B7DDF;
        margin-top: 1rem;
    }
    
    #edit-icon 
    {
        font-size: 19px;
        color: #1B7DDF;
    }
    
    #delete-icon 
    {
        font-size: 19px;
        color: #F43E3E;
    }
    
    #Email, #Password 
    {
        text-align: center;
    }
    
    #btnLogin 
    {
        font-size: 19px;
        font-weight: bold;
        background-color: #1B7DDF;
        color: #ffffff;
    
        transition: ease-out 0.3s;
        border-radius: 20px;
    }
    
    #btnLogin:hover 
    {
        background-color: #F43E3E;
    }
    
    #logout-icon 
    {
        font-size: 18px;
        color: #ffffff;
    }
    
    #btnLogout 
    {
        color: #ffffff;
        font-size: 19px;
        border: none;
    }
    
    #rowHome 
    {
        margin-top: 3rem;
    }
    
    #btnAdd, #btnSave 
    {
        font-size: 19px;
    }

    #tHead
    {
        font-size: 18px;
    }

    #cardLogin
    {
        border-color: #1B7DDF;
        border-radius: 5px;
    }
    
    .alert 
    {
        position: relative;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }
    
    .alert-heading 
    {
        color: inherit;
    }
    
    .alert-link 
    {
        font-weight: 700;
    }
    
    .alert-dismissible 
    {
        padding-right: 5rem;
    }
    
    .alert-dismissible .close 
    {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem .75rem;
        color: #002752;
    }
    
    .alert-primary 
    {
        color: #004085;
        background-color: #cce5ff;
        border-color: #b8daff;
    }
    
    .alert-primary hr 
    {
        border-top-color: #9fcdff;
    }
    
    .alert-primary .alert-link 
    {
        color: #002752;
    }
    
    .alert-secondary 
    {
        color: #383d41;
        background-color: #e2e3e5;
        border-color: #d6d8db;
    }
    
    .alert-secondary hr 
    {
        border-top-color: #c8cbcf;
    }
    
    .alert-secondary .alert-link 
    {
        color: #202326;
    }
    
    .alert-success 
    {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }
    
    .alert-success hr 
    {
        border-top-color: #b1dfbb;
    }
    
    .alert-success .alert-link 
    {
        color: #0b2e13;
    }
    
    .alert-info 
    {
        color: #0c5460;
        background-color: #d1ecf1;
        border-color: #bee5eb;
    }
    
    .alert-info hr 
    {
        border-top-color: #abdde5;
    }
    
    .alert-info .alert-link 
    {
        color: #062c33;
    }
    
    .alert-warning 
    {
        color: #856404;
        background-color: #fff3cd;
        border-color: #ffeeba;
    }
    
    .alert-warning hr 
    {
        border-top-color: #ffe8a1;
    }
    
    .alert-warning .alert-link 
    {
        color: #533f03;
    }
    
    .alert-danger 
    {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
    
    .alert-danger hr 
    {
        border-top-color: #f1b0b7;
    }
    
    .alert-danger .alert-link 
    {
        color: #491217;
    }
    
    .alert-light 
    {
        color: #818182;
        background-color: #fefefe;
        border-color: #fdfdfe;
    }
    
    .alert-light hr 
    {
        border-top-color: #ececf6;
    }
    
    .alert-light .alert-link 
    {
        color: #686868;
    }
    
    .alert-dark 
    {
        color: #1b1e21;
        background-color: #d6d8d9;
        border-color: #c6c8ca;
    }
    
    .alert-dark hr 
    {
        border-top-color: #b9bbbe;
    }
    
    .alert-dark .alert-link 
    {
        color: #040505;
    }
    
    @-webkit-keyframes progress-bar-stripes 
    {
        from 
        {
            background-position: 1rem 0;
        }
    
        to 
        {
            background-position: 0 0;
        }
    }
    
    @keyframes progress-bar-stripes 
    {
        from 
        {
            background-position: 1rem 0;
        }
    
        to 
        {
            background-position: 0 0;
        }
    }

    @-webkit-keyframes shake 
    {
        from 
        {
            -webkit-transform: rotate(15deg);
        }

        to 
        {
            -webkit-transform: rotate(-15deg);
            -webkit-transform-origin: center center;
        }
    }

    #delete-icon:hover,
    #edit-icon:hover
    {
        -webkit-animation: shake 0.1s ease-in-out 0.1s infinite alternate;
    }
}

@media screen and (max-width: 1500px) and (min-width: 1201px)
{
    #rowTop 
    {
        margin-top: 8rem;
    }
    
    #user-icon 
    {
        font-size: 70px;
        color: #1B7DDF;
        margin-top: 1rem;
    }
    
    #edit-icon 
    {
        font-size: 19px;
        color: #1B7DDF;
    }
    
    #delete-icon 
    {
        font-size: 19px;
        color: #F43E3E;
    }
    
    #Email, #Password 
    {
        text-align: center;
    }
    
    #btnLogin 
    {
        font-size: 17px;
        font-weight: bold;
        background-color: #1B7DDF;
        color: #ffffff;
    
        transition: ease-out 0.3s;
        border-radius: 20px;
    }
    
    #btnLogin:hover 
    {
        background-color: #F43E3E;
    }
    
    #logout-icon 
    {
        font-size: 18px;
        color: #ffffff;
    }
    
    #btnLogout 
    {
        color: #ffffff;
        font-size: 19px;
        border: none;
    }
    
    #rowHome 
    {
        margin-top: 3rem;
    }
    
    #btnAdd, #btnSave 
    {
        font-size: 19px;
    }

    #tHead
    {
        font-size: 18px;
    }

    #cardLogin
    {
        border-color: #1B7DDF;
        border-radius: 5px;
    }
    
    .alert 
    {
        position: relative;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }
    
    .alert-heading 
    {
        color: inherit;
    }
    
    .alert-link 
    {
        font-weight: 700;
    }
    
    .alert-dismissible 
    {
        padding-right: 5rem;
    }
    
    .alert-dismissible .close 
    {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem .75rem;
        color: #002752;
    }
    
    .alert-primary 
    {
        color: #004085;
        background-color: #cce5ff;
        border-color: #b8daff;
    }
    
    .alert-primary hr 
    {
        border-top-color: #9fcdff;
    }
    
    .alert-primary .alert-link 
    {
        color: #002752;
    }
    
    .alert-secondary 
    {
        color: #383d41;
        background-color: #e2e3e5;
        border-color: #d6d8db;
    }
    
    .alert-secondary hr 
    {
        border-top-color: #c8cbcf;
    }
    
    .alert-secondary .alert-link 
    {
        color: #202326;
    }
    
    .alert-success 
    {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }
    
    .alert-success hr 
    {
        border-top-color: #b1dfbb;
    }
    
    .alert-success .alert-link 
    {
        color: #0b2e13;
    }
    
    .alert-info 
    {
        color: #0c5460;
        background-color: #d1ecf1;
        border-color: #bee5eb;
    }
    
    .alert-info hr 
    {
        border-top-color: #abdde5;
    }
    
    .alert-info .alert-link 
    {
        color: #062c33;
    }
    
    .alert-warning 
    {
        color: #856404;
        background-color: #fff3cd;
        border-color: #ffeeba;
    }
    
    .alert-warning hr 
    {
        border-top-color: #ffe8a1;
    }
    
    .alert-warning .alert-link 
    {
        color: #533f03;
    }
    
    .alert-danger 
    {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
    
    .alert-danger hr 
    {
        border-top-color: #f1b0b7;
    }
    
    .alert-danger .alert-link 
    {
        color: #491217;
    }
    
    .alert-light 
    {
        color: #818182;
        background-color: #fefefe;
        border-color: #fdfdfe;
    }
    
    .alert-light hr 
    {
        border-top-color: #ececf6;
    }
    
    .alert-light .alert-link 
    {
        color: #686868;
    }
    
    .alert-dark 
    {
        color: #1b1e21;
        background-color: #d6d8d9;
        border-color: #c6c8ca;
    }
    
    .alert-dark hr 
    {
        border-top-color: #b9bbbe;
    }
    
    .alert-dark .alert-link 
    {
        color: #040505;
    }
    
    @-webkit-keyframes progress-bar-stripes 
    {
        from 
        {
            background-position: 1rem 0;
        }
    
        to 
        {
            background-position: 0 0;
        }
    }
    
    @keyframes progress-bar-stripes 
    {
        from 
        {
            background-position: 1rem 0;
        }
    
        to 
        {
            background-position: 0 0;
        }
    }

    @-webkit-keyframes shake 
    {
        from 
        {
            -webkit-transform: rotate(15deg);
        }

        to 
        {
            -webkit-transform: rotate(-15deg);
            -webkit-transform-origin: center center;
        }
    }

    #delete-icon:hover,
    #edit-icon:hover
    {
        -webkit-animation: shake 0.1s ease-in-out 0.1s infinite alternate;
    }
}

@media screen and (max-width: 1800px) and (min-width: 1501px)
{
    #rowTop 
    {
        margin-top: 8rem;
    }
    
    #user-icon 
    {
        font-size: 70px;
        color: #1B7DDF;
        margin-top: 1rem;
    }
    
    #edit-icon 
    {
        font-size: 19px;
        color: #1B7DDF;
    }
    
    #delete-icon 
    {
        font-size: 19px;
        color: #F43E3E;
    }
    
    #Email, #Password 
    {
        text-align: center;
    }
    
    #btnLogin 
    {
        font-size: 19px;
        font-weight: bold;
        background-color: #1B7DDF;
        color: #ffffff;
    
        transition: ease-out 0.3s;
        border-radius: 20px;
    }
    
    #btnLogin:hover 
    {
        background-color: #F43E3E;
    }
    
    #logout-icon 
    {
        font-size: 18px;
        color: #ffffff;
    }
    
    #btnLogout 
    {
        color: #ffffff;
        font-size: 19px;
        border: none;
    }
    
    #rowHome 
    {
        margin-top: 3rem;
    }
    
    #btnAdd, #btnSave 
    {
        font-size: 19px;
    }

    #tHead
    {
        font-size: 18px;
    }

    #cardLogin
    {
        border-color: #1B7DDF;
        border-radius: 5px;
    }
    
    .alert 
    {
        position: relative;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }
    
    .alert-heading 
    {
        color: inherit;
    }
    
    .alert-link 
    {
        font-weight: 700;
    }
    
    .alert-dismissible 
    {
        padding-right: 5rem;
    }
    
    .alert-dismissible .close 
    {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem .75rem;
        color: #002752;
    }
    
    .alert-primary 
    {
        color: #004085;
        background-color: #cce5ff;
        border-color: #b8daff;
    }
    
    .alert-primary hr 
    {
        border-top-color: #9fcdff;
    }
    
    .alert-primary .alert-link 
    {
        color: #002752;
    }
    
    .alert-secondary 
    {
        color: #383d41;
        background-color: #e2e3e5;
        border-color: #d6d8db;
    }
    
    .alert-secondary hr 
    {
        border-top-color: #c8cbcf;
    }
    
    .alert-secondary .alert-link 
    {
        color: #202326;
    }
    
    .alert-success 
    {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }
    
    .alert-success hr 
    {
        border-top-color: #b1dfbb;
    }
    
    .alert-success .alert-link 
    {
        color: #0b2e13;
    }
    
    .alert-info 
    {
        color: #0c5460;
        background-color: #d1ecf1;
        border-color: #bee5eb;
    }
    
    .alert-info hr 
    {
        border-top-color: #abdde5;
    }
    
    .alert-info .alert-link 
    {
        color: #062c33;
    }
    
    .alert-warning 
    {
        color: #856404;
        background-color: #fff3cd;
        border-color: #ffeeba;
    }
    
    .alert-warning hr 
    {
        border-top-color: #ffe8a1;
    }
    
    .alert-warning .alert-link 
    {
        color: #533f03;
    }
    
    .alert-danger 
    {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
    
    .alert-danger hr 
    {
        border-top-color: #f1b0b7;
    }
    
    .alert-danger .alert-link 
    {
        color: #491217;
    }
    
    .alert-light 
    {
        color: #818182;
        background-color: #fefefe;
        border-color: #fdfdfe;
    }
    
    .alert-light hr 
    {
        border-top-color: #ececf6;
    }
    
    .alert-light .alert-link 
    {
        color: #686868;
    }
    
    .alert-dark 
    {
        color: #1b1e21;
        background-color: #d6d8d9;
        border-color: #c6c8ca;
    }
    
    .alert-dark hr 
    {
        border-top-color: #b9bbbe;
    }
    
    .alert-dark .alert-link 
    {
        color: #040505;
    }
    
    @-webkit-keyframes progress-bar-stripes 
    {
        from 
        {
            background-position: 1rem 0;
        }
    
        to 
        {
            background-position: 0 0;
        }
    }
    
    @keyframes progress-bar-stripes 
    {
        from 
        {
            background-position: 1rem 0;
        }
    
        to 
        {
            background-position: 0 0;
        }
    }

    @-webkit-keyframes shake 
    {
        from 
        {
            -webkit-transform: rotate(15deg);
        }

        to 
        {
            -webkit-transform: rotate(-15deg);
            -webkit-transform-origin: center center;
        }
    }

    #delete-icon:hover,
    #edit-icon:hover
    {
        -webkit-animation: shake 0.1s ease-in-out 0.1s infinite alternate;
    }
}

@media screen and (max-width: 2000px) and (min-width: 1801px)
{
    #rowTop 
    {
        margin-top: 8rem;
    }
    
    #user-icon 
    {
        font-size: 90px;
        color: #1B7DDF;
        margin-top: 1rem;
    }
    
    #edit-icon 
    {
        font-size: 19px;
        color: #1B7DDF;
    }
    
    #delete-icon 
    {
        font-size: 19px;
        color: #F43E3E;
    }
    
    #Email, #Password 
    {
        text-align: center;
    }
    
    #btnLogin 
    {
        font-size: 19px;
        font-weight: bold;
        background-color: #1B7DDF;
        color: #ffffff;
    
        transition: ease-out 0.3s;
        border-radius: 20px;
    }
    
    #btnLogin:hover 
    {
        background-color: #F43E3E;
    }
    
    #logout-icon 
    {
        font-size: 18px;
        color: #ffffff;
    }
    
    #btnLogout 
    {
        color: #ffffff;
        font-size: 19px;
        border: none;
    }
    
    #rowHome 
    {
        margin-top: 3rem;
    }
    
    #btnAdd, #btnSave 
    {
        font-size: 19px;
    }

    #tHead
    {
        font-size: 18px;
    }

    #cardLogin
    {
        border-color: #1B7DDF;
        border-radius: 5px;
    }
    
    .alert 
    {
        position: relative;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }
    
    .alert-heading 
    {
        color: inherit;
    }
    
    .alert-link 
    {
        font-weight: 700;
    }
    
    .alert-dismissible 
    {
        padding-right: 5rem;
    }
    
    .alert-dismissible .close 
    {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem .75rem;
        color: #002752;
    }
    
    .alert-primary 
    {
        color: #004085;
        background-color: #cce5ff;
        border-color: #b8daff;
    }
    
    .alert-primary hr 
    {
        border-top-color: #9fcdff;
    }
    
    .alert-primary .alert-link 
    {
        color: #002752;
    }
    
    .alert-secondary 
    {
        color: #383d41;
        background-color: #e2e3e5;
        border-color: #d6d8db;
    }
    
    .alert-secondary hr 
    {
        border-top-color: #c8cbcf;
    }
    
    .alert-secondary .alert-link 
    {
        color: #202326;
    }
    
    .alert-success 
    {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }
    
    .alert-success hr 
    {
        border-top-color: #b1dfbb;
    }
    
    .alert-success .alert-link 
    {
        color: #0b2e13;
    }
    
    .alert-info 
    {
        color: #0c5460;
        background-color: #d1ecf1;
        border-color: #bee5eb;
    }
    
    .alert-info hr 
    {
        border-top-color: #abdde5;
    }
    
    .alert-info .alert-link 
    {
        color: #062c33;
    }
    
    .alert-warning 
    {
        color: #856404;
        background-color: #fff3cd;
        border-color: #ffeeba;
    }
    
    .alert-warning hr 
    {
        border-top-color: #ffe8a1;
    }
    
    .alert-warning .alert-link 
    {
        color: #533f03;
    }
    
    .alert-danger 
    {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
    
    .alert-danger hr 
    {
        border-top-color: #f1b0b7;
    }
    
    .alert-danger .alert-link 
    {
        color: #491217;
    }
    
    .alert-light 
    {
        color: #818182;
        background-color: #fefefe;
        border-color: #fdfdfe;
    }
    
    .alert-light hr 
    {
        border-top-color: #ececf6;
    }
    
    .alert-light .alert-link 
    {
        color: #686868;
    }
    
    .alert-dark 
    {
        color: #1b1e21;
        background-color: #d6d8d9;
        border-color: #c6c8ca;
    }
    
    .alert-dark hr 
    {
        border-top-color: #b9bbbe;
    }
    
    .alert-dark .alert-link 
    {
        color: #040505;
    }
    
    @-webkit-keyframes progress-bar-stripes 
    {
        from 
        {
            background-position: 1rem 0;
        }
    
        to 
        {
            background-position: 0 0;
        }
    }
    
    @keyframes progress-bar-stripes 
    {
        from 
        {
            background-position: 1rem 0;
        }
    
        to 
        {
            background-position: 0 0;
        }
    }

    @-webkit-keyframes shake 
    {
        from 
        {
            -webkit-transform: rotate(15deg);
        }

        to 
        {
            -webkit-transform: rotate(-15deg);
            -webkit-transform-origin: center center;
        }
    }

    #delete-icon:hover,
    #edit-icon:hover
    {
        -webkit-animation: shake 0.1s ease-in-out 0.1s infinite alternate;
    }
}

@media screen and (max-width: 2500px) and (min-width: 2001px)
{
    #rowTop 
    {
        margin-top: 9rem;
    }
    
    #user-icon 
    {
        font-size: 90px;
        color: #1B7DDF;
        margin-top: 1rem;
    }
    
    #edit-icon 
    {
        font-size: 19px;
        color: #1B7DDF;
    }
    
    #delete-icon 
    {
        font-size: 19px;
        color: #F43E3E;
    }
    
    #Email, #Password 
    {
        text-align: center;
    }
    
    #btnLogin 
    {
        font-size: 19px;
        font-weight: bold;
        background-color: #1B7DDF;
        color: #ffffff;
    
        transition: ease-out 0.3s;
        border-radius: 20px;
    }
    
    #btnLogin:hover 
    {
        background-color: #F43E3E;
    }
    
    #logout-icon 
    {
        font-size: 18px;
        color: #ffffff;
    }
    
    #btnLogout 
    {
        color: #ffffff;
        font-size: 19px;
        border: none;
    }
    
    #rowHome 
    {
        margin-top: 3rem;
    }
    
    #btnAdd, #btnSave 
    {
        font-size: 19px;
    }

    #tHead
    {
        font-size: 18px;
    }

    #cardLogin
    {
        border-color: #1B7DDF;
        border-radius: 5px;
    }
    
    .alert 
    {
        position: relative;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }
    
    .alert-heading 
    {
        color: inherit;
    }
    
    .alert-link 
    {
        font-weight: 700;
    }
    
    .alert-dismissible 
    {
        padding-right: 5rem;
    }
    
    .alert-dismissible .close 
    {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem .75rem;
        color: #002752;
    }
    
    .alert-primary 
    {
        color: #004085;
        background-color: #cce5ff;
        border-color: #b8daff;
    }
    
    .alert-primary hr 
    {
        border-top-color: #9fcdff;
    }
    
    .alert-primary .alert-link 
    {
        color: #002752;
    }
    
    .alert-secondary 
    {
        color: #383d41;
        background-color: #e2e3e5;
        border-color: #d6d8db;
    }
    
    .alert-secondary hr 
    {
        border-top-color: #c8cbcf;
    }
    
    .alert-secondary .alert-link 
    {
        color: #202326;
    }
    
    .alert-success 
    {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }
    
    .alert-success hr 
    {
        border-top-color: #b1dfbb;
    }
    
    .alert-success .alert-link 
    {
        color: #0b2e13;
    }
    
    .alert-info 
    {
        color: #0c5460;
        background-color: #d1ecf1;
        border-color: #bee5eb;
    }
    
    .alert-info hr 
    {
        border-top-color: #abdde5;
    }
    
    .alert-info .alert-link 
    {
        color: #062c33;
    }
    
    .alert-warning 
    {
        color: #856404;
        background-color: #fff3cd;
        border-color: #ffeeba;
    }
    
    .alert-warning hr 
    {
        border-top-color: #ffe8a1;
    }
    
    .alert-warning .alert-link 
    {
        color: #533f03;
    }
    
    .alert-danger 
    {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
    
    .alert-danger hr 
    {
        border-top-color: #f1b0b7;
    }
    
    .alert-danger .alert-link 
    {
        color: #491217;
    }
    
    .alert-light 
    {
        color: #818182;
        background-color: #fefefe;
        border-color: #fdfdfe;
    }
    
    .alert-light hr 
    {
        border-top-color: #ececf6;
    }
    
    .alert-light .alert-link 
    {
        color: #686868;
    }
    
    .alert-dark 
    {
        color: #1b1e21;
        background-color: #d6d8d9;
        border-color: #c6c8ca;
    }
    
    .alert-dark hr 
    {
        border-top-color: #b9bbbe;
    }
    
    .alert-dark .alert-link 
    {
        color: #040505;
    }
    
    @-webkit-keyframes progress-bar-stripes 
    {
        from 
        {
            background-position: 1rem 0;
        }
    
        to 
        {
            background-position: 0 0;
        }
    }
    
    @keyframes progress-bar-stripes 
    {
        from 
        {
            background-position: 1rem 0;
        }
    
        to 
        {
            background-position: 0 0;
        }
    }

    @-webkit-keyframes shake 
    {
        from 
        {
            -webkit-transform: rotate(15deg);
        }

        to 
        {
            -webkit-transform: rotate(-15deg);
            -webkit-transform-origin: center center;
        }
    }

    #delete-icon:hover,
    #edit-icon:hover
    {
        -webkit-animation: shake 0.1s ease-in-out 0.1s infinite alternate;
    }
}

@media screen and (max-width: 3000px) and (min-width: 2501px)
{
    #rowTop 
    {
        margin-top: 10rem;
    }
    
    #user-icon 
    {
        font-size: 90px;
        color: #1B7DDF;
        margin-top: 1rem;
    }
    
    #edit-icon 
    {
        font-size: 19px;
        color: #1B7DDF;
    }
    
    #delete-icon 
    {
        font-size: 19px;
        color: #F43E3E;
    }
    
    #Email, #Password 
    {
        text-align: center;
    }
    
    #btnLogin 
    {
        font-size: 19px;
        font-weight: bold;
        background-color: #1B7DDF;
        color: #ffffff;
    
        transition: ease-out 0.3s;
        border-radius: 20px;
    }
    
    #btnLogin:hover 
    {
        background-color: #F43E3E;
    }
    
    #logout-icon 
    {
        font-size: 18px;
        color: #ffffff;
    }
    
    #btnLogout 
    {
        color: #ffffff;
        font-size: 19px;
        border: none;
    }
    
    #rowHome 
    {
        margin-top: 3rem;
    }
    
    #btnAdd, #btnSave 
    {
        font-size: 19px;
    }

    #tHead
    {
        font-size: 18px;
    }

    #cardLogin
    {
        border-color: #1B7DDF;
        border-radius: 5px;
    }
    
    .alert 
    {
        position: relative;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }
    
    .alert-heading 
    {
        color: inherit;
    }
    
    .alert-link 
    {
        font-weight: 700;
    }
    
    .alert-dismissible 
    {
        padding-right: 5rem;
    }
    
    .alert-dismissible .close 
    {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem .75rem;
        color: #002752;
    }
    
    .alert-primary 
    {
        color: #004085;
        background-color: #cce5ff;
        border-color: #b8daff;
    }
    
    .alert-primary hr 
    {
        border-top-color: #9fcdff;
    }
    
    .alert-primary .alert-link 
    {
        color: #002752;
    }
    
    .alert-secondary 
    {
        color: #383d41;
        background-color: #e2e3e5;
        border-color: #d6d8db;
    }
    
    .alert-secondary hr 
    {
        border-top-color: #c8cbcf;
    }
    
    .alert-secondary .alert-link 
    {
        color: #202326;
    }
    
    .alert-success 
    {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }
    
    .alert-success hr 
    {
        border-top-color: #b1dfbb;
    }
    
    .alert-success .alert-link 
    {
        color: #0b2e13;
    }
    
    .alert-info 
    {
        color: #0c5460;
        background-color: #d1ecf1;
        border-color: #bee5eb;
    }
    
    .alert-info hr 
    {
        border-top-color: #abdde5;
    }
    
    .alert-info .alert-link 
    {
        color: #062c33;
    }
    
    .alert-warning 
    {
        color: #856404;
        background-color: #fff3cd;
        border-color: #ffeeba;
    }
    
    .alert-warning hr 
    {
        border-top-color: #ffe8a1;
    }
    
    .alert-warning .alert-link 
    {
        color: #533f03;
    }
    
    .alert-danger 
    {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
    
    .alert-danger hr 
    {
        border-top-color: #f1b0b7;
    }
    
    .alert-danger .alert-link 
    {
        color: #491217;
    }
    
    .alert-light 
    {
        color: #818182;
        background-color: #fefefe;
        border-color: #fdfdfe;
    }
    
    .alert-light hr 
    {
        border-top-color: #ececf6;
    }
    
    .alert-light .alert-link 
    {
        color: #686868;
    }
    
    .alert-dark 
    {
        color: #1b1e21;
        background-color: #d6d8d9;
        border-color: #c6c8ca;
    }
    
    .alert-dark hr 
    {
        border-top-color: #b9bbbe;
    }
    
    .alert-dark .alert-link 
    {
        color: #040505;
    }
    
    @-webkit-keyframes progress-bar-stripes 
    {
        from 
        {
            background-position: 1rem 0;
        }
    
        to 
        {
            background-position: 0 0;
        }
    }
    
    @keyframes progress-bar-stripes 
    {
        from 
        {
            background-position: 1rem 0;
        }
    
        to 
        {
            background-position: 0 0;
        }
    }

    @-webkit-keyframes shake 
    {
        from 
        {
            -webkit-transform: rotate(15deg);
        }

        to 
        {
            -webkit-transform: rotate(-15deg);
            -webkit-transform-origin: center center;
        }
    }

    #delete-icon:hover,
    #edit-icon:hover
    {
        -webkit-animation: shake 0.1s ease-in-out 0.1s infinite alternate;
    }
}